@page "/"
@using LBPUnion.ProjectLighthouse.Types
@using LBPUnion.ProjectLighthouse.Types.Settings
@model LBPUnion.ProjectLighthouse.Pages.LandingPage

@{
    Layout = "Layouts/BaseLayout";
    Model.ShowTitleInPage = false;
}
<h1>Welcome to <b>ProjectF</b>!</h1>
<h4>Don't have an account? Just register, note your username has to match your PSN ID or RPCN ID perfectly! If you made a mistake contact an admin</h4>
<h5>We now have a <a href="https://discord.gg/qdGQbT8TaU">Discord!</a></h5>
<p>This server was made possible because of Project Lighthouse, link on the bottom of the website, will bring you to our github page which includes slight modifications from the original source code</p>

@if (Model.User != null)
{
    <p>You are currently logged in as <b>@Model.User.Username</b>.</p>
    if (ServerSettings.Instance.UseExternalAuth && Model.AuthenticationAttemptsCount > 0)
    {
        <p>
            <b>You have @Model.AuthenticationAttemptsCount authentication attempts pending. Click <a href="/authentication">here</a> to view them.</b>
        </p>
    }
}

@if (Model.PlayersOnlineCount == 1)
{
    <p>There is 1 user currently online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId">@user.Username</a>
    }
}

else if (Model.PlayersOnlineCount == 0)
{
    <p>There are no users online. Why not hop on?</p>
}
else
{
    <p>There are currently @Model.PlayersOnlineCount users online:</p>
    @foreach (User user in Model.PlayersOnline)
    {
        <a href="/user/@user.UserId">@user.Username</a>
    }
}
